/* * {
  border: 1px solid black;
  font-family: sans-serif;

}

.inline-p {
  display: inline-block;
}

#px-div {
  width: 100px;
  height: 100px;
  background-color: blue;
}

#pct-div {
  width: 90%;
  height: 90%;
  background-color: tan;
}

#overflow-box {
  max-height: 100px;
  overflow: scroll;
}

#bmp-box p {
  padding: 20px;
} */

h1 {
  border: 2px solid blueviolet;
  margin-left: 50px;
  padding: 20px 50px 0 40px;
  display: inline-block;
}
